
# IDE
.vs/
.vscode/
.idea/
*.user
*.log
*.tmp

# OS
Thumbs.db
.DS_Store

# Build
/build/
/dist/
/.xmake/
/.cache/
compile_commands.json
CMakeUserPresets.json
out/
graphify-out
.codegraph/
# Claude/AGENTS
.claude
